NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-public-anon-key

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret  
SUCCESS_URL=https://fahim-stripe-with-supabase-nonsub.vercel.app/success
CANCEL_URL=https://fahim-stripe-with-supabase-nonsub.vercel.app/cancel

